/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

div {
    margin-bottom: 20px;
}

#party-members {
    margin-top: 20px;
}
/* styles.css */
.party-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.character-box {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.character-box h3 {
    color: #333;
    margin-top: 0;
}

.character-box ul {
    list-style-type: none;
    padding: 0;
}
input[type='number']{
    width: 50px;
    padding: 5px;
    margin: 0 5px;
}

.button-adjust {
    padding: 5px 10px;
    margin: 0 5px;
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
